/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  padding:0;
  margin:0;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text:#111;
	--color-background:#eee;
}





/*****************/
/* EIGEN STYLING */
/*****************/

/* jouw code */

