/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  padding:0;
  margin:0;
}

a{
    text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text:#111;
	--color-background:#eee;
}







/*****************/
/* EIGEN STYLING */
/*****************/


.modal img {
  width: 1em;
}

.modal section:first-child{
  background-color:#005AD2;
}

.modal section:nth-of-type(2){
  background-color:#FFCF02;
}

dialog::backdrop {
	backdrop-filter:blur(1em);
}

html:has(header dialog[open]) {
	overflow:scroll;
	scrollbar-gutter: stable;
}

/*ik heb de info over een skiplink gehaald van: https://www.w3schools.com/accessibility/accessibility_skip_links.php#:~:text=The%20skip%20link%20is%20a,to%20it%20with%20an%20anchor.&text=That's%20it.*/
.skiplink {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skiplink:focus {
  position: static;
  width: auto;
  height: auto;
}

.informatietab{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  list-style-type: none;
  flex-basis: auto;
  background-color:white;
  box-sizing: border-box;
  text-decoration:none;
  left:0;
  right:0;
  top:0;
  bottom:0;
  width: 100%;
  padding: 0.5em 1em;
  z-index: 1000;
}

.informatietab p{
  margin-left: auto; 
  margin-right: auto;
}

.informatietab .btnterug {
  margin-right: 1em;
  margin-left: auto;
}


.informatietab .btnverder {
  /* gewoon normaal in de flow */
  margin-right: auto;
  margin-left: 1em;
}

.informatietab .sluiten {
  margin-left: auto; 
  margin-right: auto;
}

.informatietab img{
  width: 2em;
}

.informatietab button img {
  pointer-events: none;
}

#hamburgermenu{
  order:-1;
}

.hoofdnavigatie {
  display:flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  flex-basis: auto;
  background-color:white;
  text-decoration:none;
  left:0;
  right:0;
  top:0;
  bottom:0;
  width: 100%;  
}


.hoofdnavigatie ul{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  flex-basis: auto;
  padding: 0.5em;
}

.hoofdnavigatie img{
  width: 3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hoofdnavigatie a:last-of-type {
  flex-direction:column;
}

#naarrechts{
  margin-left: auto;
}

.hamburgermenucontent{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  transform: translateX(-100%);
  transition: transform 0.3s;
}

.hamburgermenucontent img{
  width:2em;
}

.hamburgermenucontent.toonMenu {
  transform: translateX(0);
}

.winkelenmenu {
  position: absolute;
  left: 0;
  right: 10%;
  top: 8em;
  bottom: 0;
  background-color: white;
  transform: translateX(-100%);
  transition: transform 0.3s;
}

.winkelenmenu img{
  width:2em;
}

.winkelenmenu.toonMenu {
  transform: translateX(0);
}


.hoofdsectie img{
  width:100%;
}

/*ik heb de info over het verplaatsen van de driehoek van een summary van: https://stackoverflow.com/questions/56758098/how-to-position-detail-marker-to-come-after-summary*/
details>summary {
  list-style: none;
}
summary::-webkit-details-marker {
  display: none
}

summary::after {
  content: ' ►';
}
details[open] summary:after {
  content: " ▼";
}

.hidden {
  display: none;
}

/*https://www.a11yproject.com/posts/how-to-hide-content/*/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (min-width:38em) {
  .hoofdnavigatie {
    position:static;
    translate:unset;
    padding:0;
    background:none;
  }
  
  header nav ul {
    display:flex;
    gap:1em;
  }
  
  header nav a {
    flex-direction:column;
  }
  
  header a {
    flex-direction:column;
  }
  
  .hamburgermenucontent{
    position:absolute;
    left:0;
    right:10%;
    top:8em;
    bottom:0;
    transform: translateX(-100%);
    transition: transform .3s;
  }

  .hamburgermenucontent::backdrop {
  backdrop-filter:blur(1em);
  }

  .hamburgermenucontent ul {
    display:flex;
    gap:1em;
  }
  
  .hamburgermenucontent button{
    flex-direction:column;
    border:none;
  }
  
  .hamburgermenucontent a {
    /* JOUW CODE HIER - stap 9 */
    flex-direction:column;
  }


}

@media (min-width:57em) {
  .hoofdnavigatie a:last-of-type {
    flex-direction:row;
  }

  #hamburgermenu{
    display:none;
  }

  .hoofdnavigatie {
    background-color: #FFCF02;
  }

  .hamburgermenucontent {
    display: none;
  }

  
}


@media (max-width: 57em) {
  .winkelenmenu {
    display: none;
  }
}